<!DOCTYPE html>
<html lang="en">
{% load static %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="template" content="greeny">
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template">
    <meta name="keywords"
        content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
    <title>Greeny - About Us</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
    <div class="backdrop"></div><a class="backtop fas fa-arrow-up" href="#"></a>
    {% include 'header.html' %}
    <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
        <div class="container">
            <h2>about our Classo tools</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <h4><i class="fas fa-arrow-up" style="color: aliceblue;"></i> 
                    <a href="{% url 'core:home' %}">Home</a></h4>
                </li>
            </ol>
        </div>
    </section>
    <section class="inner-section about-company">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>Welcome to Classo - Empowering Educators with Innovative Tools for Teaching Excellence!</h2>
                        <p>
                            At Classo, we believe that education is the foundation of a brighter future. We are passionate about supporting teachers in their noble quest to inspire, educate, and shape young minds. Our web app is designed to provide educators with a comprehensive suite of tools that enhance their teaching experience, streamline administrative tasks, and ignite creativity in the classroom.
                            
                        <p>Who We Are:</p>
                            
                            We are a team of dedicated individuals who understand the challenges faced by educators in today's fast-paced digital world. With backgrounds in education, technology, and design, we have come together to create a platform that empowers teachers and simplifies their daily lives. We are committed to fostering a supportive and dynamic community where educators can thrive, collaborate, and share their expertise.
                            <p></p>
                        <p>Our Mission:</p>
                            
                            Our mission is simple yet profound: to revolutionize the way teachers plan, organize, and deliver lessons. We aim to equip educators with innovative tools that inspire their creativity, save time, and enhance student engagement. By harnessing the power of technology, we strive to transform the teaching experience and empower educators to reach new heights of excellence.
                            
                        <p></p>
                        <p>What Sets Us Apart:</p>
                            
                            At Classo, we stand out from the crowd with our unwavering dedication to creating a user-centric platform that truly meets the needs of educators. We have carefully crafted each feature and functionality to ensure it seamlessly integrates into the daily workflow of teachers, empowering them to focus on what they do best: teaching.
                            <p></p>
                        <p>Our Collaborative Approach:</p>
                            
                            We strongly believe in the power of collaboration and the collective wisdom of educators worldwide. Our web app provides a space for teachers to connect, exchange ideas, and learn from one another. We foster a vibrant community where teachers can share lesson plans, offer guidance, and support each other in their professional growth.
                            <p></p>
                        <p>Our Commitment to Excellence:</p>
                            
                            Excellence is at the heart of everything we do. We are committed to continually improving our web app, incorporating user feedback, and staying up-to-date with the latest educational trends and advancements. Our dedicated support team is always ready to assist educators, ensuring a seamless and enjoyable experience with our platform.
                            <p></p>
                        <p>Join Our Journey:</p>
                            
                            We invite you to join us on this exciting journey as we revolutionize the way teachers plan, teach, and inspire. Together, let's create a future where education knows no bounds, and every educator has the tools they need to make a lasting impact on the lives of their students.
                            
                            Get started with Classo today and discover a world of limitless possibilities for teaching excellence!
                        </p>
                    </div>
                    <ul class="about-list">
                        <li>
                            <h3>34785</h3>
                            <h6>registered users</h6>
                        </li>
                        <li>
                            <h3>2623</h3>
                            <h6>per day visitors</h6>
                        </li>
                        <li>
                            <h3>189</h3>
                            <h6>total products</h6>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{% static 'images/src/7.jpg' %}" alt="about">
                        
                        <img src="{% static 'images/src/11.png' %}" alt="about">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inner-section about-testimonial">
        <div class="container">
            <ul class="testi-slider slider-arrow">
                <li>
                    <div class="testi-content"><a class="testi-img" href="#"><img src="{% static 'images/src/1.jpg' %}"
                                alt="testimonial"></a>
                        <div class="testi-quote"><i class="icofont-quote-left"></i>
                            <p>Having a system to ease ton of works for our teachers is really a thing more important
                                to pride. I am glad we found Classo to work this out.
                            </p>
                            <h4>Prof. Aliyu Isah Pantami</h4>
                            <h6>Minister - Ministry of Communication</h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testi-content"><a class="testi-img" href="#"><img src="{% static 'images/src/2.jpg' %}"
                                alt="testimonial"></a>
                        <div class="testi-quote"><i class="icofont-quote-left"></i>
                            <p>It is pride thing to see that our Education system is shaping another level. I praise the team 
                                behind the existence of Classo. I and my team will work together with Classo to make IT more appealing
                                and usable for our teachers.
                            </p>
                            <h4>miron mahmud</h4>
                            <h6>Director - NITDA</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="about-choose">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                    <div class="section-heading">
                        <h2>Why You need Classo tools</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-card">
                        <div class="choose-icon"><i class="icofont-fruits"></i></div>
                        <div class="choose-text">
                            <h4>free access</h4>
                            <p>Our tools from every angle is 100%  free to use and will stay like that for a time God knows when.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-card">
                        <div class="choose-icon"><i class="icofont-vehicle-delivery-van"></i></div>
                        <div class="choose-text">
                            <h4>Up to date service and tools</h4>
                            <p>We will keep working to the edge to  provide service that will render healthiest knowldege in our continent by 
                                providing elegant experience for the teachers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inner-section about-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>our team members</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="team-slider slider-arrow">
                        <li>
                            <figure class="team-media"><img src="{% static 'images/src/1.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Eng. Shehu Usman</a></h5>
                                <p>Founder & CEO</p>
                            </div>
                        </li>
                        <li>
                            <figure class="team-media"><img src="{% static 'images/src/3.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Dr. FamHal</a></h5>
                                <p>article writer</p>
                            </div>
                        </li>
                        <li>
                            <figure class="team-media"><img src="{% static 'images/src/2.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Zunnurayn</a></h5>
                                <p>Web developer</p>
                            </div>
                        </li>
                        <li>
                            <figure class="team-media"><img src="{% static 'images/src/4.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Mansur Abubakar</a></h5>
                                <p>Administrator</p>
                            </div>
                        </li>
                        <li>
                            <figure class="team-media"><img src="{% static 'images/src/5.jpg' %}" alt="team">
                                <div class="team-overlay"><a href="#" class="icofont-facebook facebook"></a><a href="#"
                                        class="icofont-twitter twitter"></a><a href="#"
                                        class="icofont-linkedin linkedin"></a></div>
                            </figure>
                            <div class="team-meta">
                                <h5><a href="#">Jhonson Hononr</a></h5>
                                <p>article writer</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="news-part" style="background: url(images/newsletter.jpg) no-repeat center;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-6 col-xl-7">
                    <div class="news-text">
                        <h2>Stay ahead, stay a better teacher</h2>
                        <p>Submit your email to get updated with our services</p>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <form class="news-form"><input type="text" placeholder="Enter Your Email Address"><button><span><i
                                    class="icofont-ui-email"></i>Subscribe</span></button></form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget"><a class="footer-logo" href="#"><img src="{% static 'images/src/12.png' %}"
                                alt="logo"></a>
                        <p class="footer-desc">Classo remains the only competition in the industries
                            and we plan to stay like that for so long. Watch it!</p>
                        <ul class="footer-social">
                            <li><a class="icofont-facebook" href="#"></a></li>
                            <li><a class="icofont-twitter" href="#"></a></li>
                            <li><a class="icofont-linkedin" href="#"></a></li>
                            <li><a class="icofont-instagram" href="#"></a></li>
                            <li><a class="icofont-pinterest" href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget contact">
                        <h3 class="footer-title">contact us</h3>
                        <ul class="footer-contact">
                            <li><i class="icofont-ui-email"></i>
                                <p><span>support@classo.ng</span><span>info@classo.ng</span></p>
                            </li>
                            <li><i class="icofont-ui-touch-phone"></i>
                                <p><span>+234 816 203 7790</span><span>+234 704 556 5392</span></p>
                            </li>
                            <li><i class="icofont-location-pin"></i>
                                <p>3rd floor Classo Plaza, Zaria road, Kano State Nigeria</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">quick Links</h3>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Download History</a></li>
                                <li><a href="{% url 'core:home' %}">All Topics</a></li>
                                <li><a href="{% url 'core:exams-list' %}">All Exams</a></li>
                                <li><a href="{% url 'core:curriculum-list' %}">Our Curriculum</a></li>
                            </ul>
                            <ul>
                                <li><a href="{% url 'accounts:about-us' %}">About us</a></li>
                                <li><a href="{% url 'core:contact-us' %}">Contact</a></li>
                                <li><a href="#">Carrier</a></li>
                                <li><a href="#">Faq</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Download App</h3>
                        <p class="footer-desc">For easy access to Classo tools, we have moved forward and provide mobile app for android and IOS.
                             Feel free to try it</p>
                        <div class="footer-app"><a href="#">
                            <img src="{% static 'images/google-store.png' %}" alt="google"></a>
                            <a href="#"><img src="{% static 'images/app-store.png' %}" alt="app"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer-bottom">
                        <p class="footer-copytext">&copy; All Copyrights Reserved by <a href="#">Classo</a></p>
                        <div class="footer-card"><a href="#"><img src="{% static 'images/payment/jpg/01.jpg' %}" alt="payment"></a><a
                                href="#"><img src="{% static 'images/payment/jpg/02.jpg' %}" alt="payment"></a><a href="#"><img
                                    src="{% static 'images/payment/jpg/03.jpg' %}" alt="payment"></a><a href="#"><img
                                    src="{% static 'images/payment/jpg/04.jpg' %}" alt="payment"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'vendor/niceselect/nice-select.min.js' %}"></script>
    <script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'js/nice-select.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/venobox.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
<!-- Mirrored from mironmahmud.com/greeny/assets/ltr/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Jul 2022 12:01:01 GMT -->

</html>