{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}    
    <section class="inner-section contact-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form class="contact-form" method="post" action="">
                        {% csrf_token %}
                        <h4>Add a topic</h4>
                        {{ t_form.media }}
                        <div class="form-group">
                            <label for="{{ t_form.subject.id_for_label }}">{{ t_form.subject.label_tag }}</label>
                            <select class="form-control" id="{{ t_form.subject.id_for_label }}" name="{{ t_form.subject.html_name }}">
                                {% for choice in t_form.subject.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                                                                {% if t_form.subject.errors %} 
                                     <div class="form-error"> 
                                         {% for error in t_form.subject.errors %} 
                                         <span style="color: red;">{{ error }}</span> 
                                         {% endfor %} 
                                     </div> 
                                     {% endif %}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ t_form.classroom.id_for_label }}">{{ t_form.classroom.label_tag }}</label>
                            <select class="form-control" id="{{ t_form.classroom.id_for_label }}" name="{{ t_form.classroom.html_name }}">
                                {% for choice in t_form.classroom.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                                                                {% if t_form.classroom.errors %} 
                                     <div class="form-error"> 
                                         {% for error in t_form.classroom.errors %} 
                                         <span style="color: red;">{{ error }}</span> 
                                         {% endfor %} 
                                     </div> 
                                     {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ t_form.terms.id_for_label }}">{{ t_form.terms.label_tag }}</label>
                            <select class="form-control" id="{{ t_form.terms.id_for_label }}" name="{{ t_form.terms.html_name }}">
                                {% for choice in t_form.terms.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                                                                {% if t_form.terms.errors %} 
                                     <div class="form-error"> 
                                         {% for error in t_form.terms.errors %} 
                                         <span style="color: red;">{{ error }}</span> 
                                         {% endfor %} 
                                     </div> 
                                     {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ t_form.weeks.id_for_label }}">{{ t_form.weeks.label_tag }}</label>
                            <input class="form-control" type="text" name="{{t_form.weeks.weeks}}">
                        </div>

                        <div class="form-group">
                            <label for="{{ t_form.name.id_for_label }}">{{ t_form.name.label_tag }}</label>
                            <input class="form-control" type="text" name="{{t_form.name.name}}">
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ t_form.l_note.id_for_label }}"></label>
                            {{ t_form.l_note|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label for="{{ t_form.l_plan.id_for_label }}"></label>
                            {{ t_form.l_plan|as_crispy_field }}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ t_form.status.id_for_label }}">{{ t_form.status.label_tag }}</label>
                            <select class="form-control" id="{{ t_form.status.id_for_label }}" name="{{ t_form.status.html_name }}">
                                {% for choice in t_form.status.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button name="submit" type="submit" class="form-btn-group">
                            <i class="fas fa-envelope"></i><span>Create Topic</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
